<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }} - {{ page.title }}</title>
		<style type="text/css">
		</style>
		<link rel="stylesheet" type="text/css" href="{{ "/assets/styles/main.css" | relative_url }}">
		<meta name="yandex-verification" content="b93682e6d5310aa0" />
		<meta name="wmail-verification" content="c7b6fa6a26059a308e31b39484d61271" />
		<meta name="msvalidate.01" content="CE7F2B224A7BE119FDFB1B9063BB7DE4" />
		<meta name="keywords" content="через сколько когда праздники события мероприятия концерты премьеры памятные даты отпуск сериал">
		<meta name="description" content="Дай знать, Москва! - праздники, события, мероприятия, концерты, премьеры, памятные даты">
		<meta name="author" content="PWRMind">
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		{{ content }}
	</body>
</html>